<!-- Two-Way Data-Binding -->
<mat-card>

    <!-- [212] -->
    <form (submit)="onAddPost(postForm)" #postForm="ngForm">
        <!-- #postForm="ngForm" gives us access to the form object
             that Angular handles for us  -->

        <mat-form-field>
            <!-- [212]: Add name attribute and ngModel-keyword attribute -->
            <!-- <input matInput type="text" [(ngModel)]=enteredTitle> -->
            <input matInput type="text" name="title_josh" ngModel>
            <!-- ngModel keyword here without any bindings will 
                register this input as a controll to the 
                behind the scene form -->
        </mat-form-field>

        <mat-form-field>
            <!-- [212]: Add name attribute and ngModel-keyword attribute -->
            <!-- <textarea matInput name="" id="" cols="10" rows="6" [(ngModel)]="enteredContent"></textarea> -->
            <textarea matInput name="content_josh" id="" cols="10" rows="6" ngModel></textarea>
        </mat-form-field>
        <!-- [212] -->
        <!-- <button mat-raised-button color="primary" (click)="onAddPost()">
            Save Post
        </button> -->
        <button mat-raised-button color="primary" type="submit">
            Save Post
        </button>
    </form>
</mat-card>

<h1>{{enteredValue}}</h1>

<!-- Press save-post button to grab value from form and print below -->
<!-- <h2>{{newPost2}}</h2> -->

<app-post-list></app-post-list>